
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
header, .category-list{
    position: sticky;
    top:0;
    z-index: 10;
    background: var(--white-color);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.nav-left {
    display: flex;
    align-items: center;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-image {
    height: 28px; 
}

.nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.logo-image {
    height: 36px; 
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}

.nav-center {
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px; 
    position: relative; 
}

.search-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 24px;
    outline: none;
}

.search-button {
    background: #f8f8f8;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
    position: absolute; 
    right: 8px;
    height: 44px; 
    width: 44px; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.search-button .uil-search {
    font-size: 22px; 
    color: #333;
}

.nav-right {
    display: flex;
    align-items: center;
}

.mic-button, .moon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 24px; 
    margin-left: 10px;
}

.mic-button:hover, .moon-button:hover {
    color: #007bff; 
}

.user-image {
    height: 50px; 
    border-radius: 50%;
    margin-left: 10px;
}

.main-layout {
    display: flex;
    overflow-y:auto;
}
.main-layout .sidebar {
    width:280px;
    background:var(--white-color);
}

.sidebar {
    width: 280px; 
    background-color: #f9f9f9;
    padding: 20px; 
    height: calc(100vh - 60px); 
    overflow-y: auto; 
}

.sidebar .link-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}
.sidebar .link-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
}
.sidebar .link-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem; 
    text-decoration: none; 
    color: #333; 
    background-color: #f0f0f0; 
    font-size: 0.9rem;
    transition: background-color 0.3s ease; 
}

.sidebar .link-item:hover {
    background-color: #e0e0e0; 
}
.sidebar .link-item i {
    font-size: 1.4rem; 
    margin-right: 0.75rem; 
}
.sidebar .section-title {
    font-size: 0.938rem; 
    font-weight: 600;
    color: #333; 
    margin: 0.5rem 0; 
}
.sidebar .section-separator {
    border-top: 1px solid #e0e0e0; 
    margin: 1rem 0; 
}



.content-wrapper {
    flex: 1;
    padding: 0.75rem;
    overflow-x: hidden;
}

.category-list {
    display: flex;
    gap: 0.75rem;
    overflow-x: auto;
    padding: 0.75rem 0;
    scrollbar-width: none; 
}

.category-list::-webkit-scrollbar {
    display: none; 
}

.category-button {
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.4rem 0.75rem;
    border-radius: 0.5rem;
    background: #f0f0f0; 
}
.video-list {
    margin-top: 20px; 
    display: grid;
    gap: 1.5rem; 
    padding: 1.25rem 0 4rem;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); /* Adjusted min width */
}

.video-card {
    display: flex;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff; 
}

.thumbnail-container {
    position: relative;
    width: 100%;
    height: auto;
}

.thumbnail {
    width: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 16/9;
    display: block;
    height: 200px; 
}

.duration {
    position: absolute;
    right: 8px; 
    bottom: 8px; 
    color: #fff;
    font-size: 1rem; 
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    background: rgba(0, 0, 0, 0.6); 
}

.video-info {
    display: flex;
    gap: 1rem; 
    padding: 0.7rem 0.5rem;
    align-items: center;
}

.icon {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
}

.video-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 1.1rem; 
    font-weight: 600;
    color: #333; 
    white-space: normal; 
    overflow: visible; 
    word-wrap: break-word; 
    line-height: 1.4; 
    margin: 0; 
}

.title:hover {
    color: #007bff; 
}

.channel-name {
    margin: 0.25rem 0 0.15rem;
    color: #555; 
}

.view {
    font-size: 0.9rem; 
    color: #666; 
}